!!!
%html{:lang => "en"}
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src =>  "//maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:src => "/js/application.js"}
    %title
  %body
    = yield